body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.motion-header {
    text-align: center;

}

.animated-header {
    margin-top: 100px;
    font-size: 3rem;
    color: white;
    opacity: 0;
}

.WelcomeHere {
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    color: aliceblue;
}

.Btns {

    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    color: aliceblue;
    padding: 20px;
   

}

#singUp{
   
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #9b59b6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 20px;
}

#logIn{
    
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #9b59b6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 20px;
}