nav {

    padding: 10px;
    background-color: #787878;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: fixed;
}


nav ul {
    list-style-type: none;
    /* Remove bullets */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* Remove underline */
}

nav ul li a:hover {
    background-color: #111;
}

div {
    margin: 10px;
    padding: 20px;
    text-align: center;

}
img {
    max-width: 60%;
}
a {
    font-size: large;
}


#scrollToTopBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 100; 
    background-color: #555; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 18px; 
}

#scrollToTopBtn:hover {
    background-color: #333; 
}

footer{
    margin: 100px;
    text-align: center;
}
#SiteMade{
    color: #948d8d;
    display: inline;
}
#icons{
    height: 100px;
}
#Hazem{
    color: #111;
    display: inline;
}
#MadeBy{
    display: inline;
    margin: auto;
    height: 100px;
}

i{
    height: 5%;
    width: 5%;
    font-size: 35px;
    border: 50%;
}